* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  text-align: center;
  align-items: center;
  flex-direction: column;
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgba(204, 254, 201, 0.255);
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.hero-image {
  width: 99vw;
  height: 100vh;
  padding: 5rem;
  color: white;
  margin-bottom: 10rem;
  border-radius: 0.5rem;
  background-size: cover;
  background-position: center;
  background-image: url("../image/Dbz.jpg");
}
.hero-image h1 {
  font-size: 3rem;
  margin-bottom: 2rem;
  animation: fadeInUp 1.5s ease-in-out;
}
.hero-image .btn {
  border: none;
  padding: 1rem;
  cursor: pointer;
  font-weight: bold;
  font-size: 1.5rem;
  border-radius: 0.8rem;
  transition: 0.2s ease-in-out;
  animation: fadeInUp 1.5s ease-in-out;
}
.hero-image .btn:hover {
  color: white;
  background-color: red;
}

.dbzContainer {
  gap: 1.5rem;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-column-gap: 2rem;
}
.dbzContainer .dbzCharacters {
  padding: 2rem;
  height: 28rem;
  width: 16.5rem;
  cursor: pointer;
  margin: 1.4rem 0;
  border-radius: 2rem;
  background-color: white;
  border: 0.01rem solid black;
  transition: transform 0.3s ease-in-out;
}
.dbzContainer .dbzCharacters:hover {
  transform: scale(1.1);
  background-color: beige;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.6);
}

footer {
  padding: 1rem;
  margin-top: 6rem;
  margin-bottom: 0.2rem;
}

.modal {
  width: 14rem;
  width: 14rem;
  padding: 1rem;
  z-index: 1000;
  position: fixed;
  border-radius: 1rem;
  transform: translate(-50%);
  background-color: yellow;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
}
.modal.modal p {
  margin: 0.6rem 0;
  font-size: 1.2rem;
}
.modal.modal button {
  border: none;
  color: white;
  cursor: pointer;
  padding: 0.5rem 0.8rem;
  border-radius: 0.5rem;
  background-color: #3498db;
}
.modal.modal button:hover {
  background-color: #19699e;
}

@media only screen and (max-width: 78.567rem) {
  .hero-image {
    width: 98.2vw;
  }
  .dbzContainer {
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 6rem;
  }
  .dbzCharacter {
    padding: 2rem;
    width: 15.5rem;
    height: 26rem;
  }
  .modal {
    width: 13rem;
  }
  footer {
    width: 48.5rem;
    margin-bottom: 0.2rem;
  }
}
@media only screen and (max-width: 44.721rem) {
  .hero-image {
    width: 100vw;
    overflow-x: hidden;
  }
  .hero-image h1 {
    color: rgb(248, 248, 56);
  }
  .dbzContainer {
    grid-template-columns: repeat(1, 1fr);
  }
  .dbzContainer h2 {
    font-size: 2.3rem;
  }
  .dbzCharacter {
    padding: 2rem;
    width: 12.5rem;
    height: 22rem;
  }
  .modal {
    width: 14rem;
    width: 14rem;
    padding: 1rem;
    z-index: 1000;
    position: fixed;
    border-radius: 1rem;
    transform: translate(-50%);
    background-color: yellow;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
  }
  .modal.modal p {
    margin: 0.6rem 0;
    font-size: 1.2rem;
  }
  .modal.modal button {
    font-size: 1.3rem;
  }
  footer {
    width: 29rem;
    margin-bottom: 0.2rem;
  }
}/*# sourceMappingURL=main.css.map */