@import '_mixins';
@import '_variables';

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
 @include bodyMix;
}

@keyframes fadeInUp {
  from {
      opacity: 0;
      transform: translateY(20px);
  }
  to {
      opacity: 1;
      transform: translateY(0);
  }
}

.hero-image {
  @include heroImageMix;

  h1 {
      font-size: $fsize;
      margin-bottom: $mb;
      animation: fadeInUp 1.5s ease-in-out;
  }

    .btn {
    @include btnMix;

    &:hover {
        color: white;
        background-color: $bg;
    }
    animation: fadeInUp 1.5s ease-in-out;
  }
}

.dbzContainer {
    gap: 1.5rem;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-column-gap: 2rem;

    .dbzCharacters {
    @include dbzCharactersMix;

    &:hover {
      transform: scale(1.1);
      background-color: $bg2;
      box-shadow: 0 0 1rem rgba(0, 0, 0, 0.6);
    }
  }
}

footer {
@include footerMix;

}

.modal {
    width: $mw3;
  @include modalMix;
    
  &.modal p {
      margin: 0.6rem 0;
      font-size: $fsize2;
  }

    &.modal button {
  @include modalButtonMix;
  
    &:hover {
      background-color: $bg3;
    }
  }
}

@media only screen and (max-width: $bp-large) {
    
  .hero-image {
    width: 98.2vw;
  }

  .dbzContainer {
      grid-template-columns: repeat(2, 1fr);
      grid-column-gap: 6rem;
    }
    .dbzCharacter {
      padding: $pad;
      width: $wid2;
      height: $ht2;
    }
  .modal {
    width: $mw;
  }
  footer {
    width: $fw;
    margin-bottom: $fm;
}
  }
  
  @media only screen and (max-width: $bp-medium) {

  body {
    overflow-x: hidden;
  }

    .hero-image {
      width: 100vw;
      overflow: hidden;

      h1 {
        color: rgb(248, 248, 56);
      }
    }
    
    
    .dbzContainer {
      grid-template-columns: repeat(1, 1fr);
      
      h2 {
        font-size: 2.3rem;
      }
    }
  
    .dbzCharacter {
      padding: $pad;
      width: $wid;
      height: $ht;
      
    }
    
    .modal {
      width: $mw3;
      @include modalMix;
        
      &.modal p {
          margin: 0.6rem 0;
          font-size: $fsize2;
      }
    
        &.modal button {
          font-size: 1.3rem;
    }
  }

    footer {
      overflow: hidden;
        width: $fw2;
        margin-bottom: $fm;
    }
  }

