// Font Size
$fsize: 3rem;
$fsize2: 1.2rem;

// Margin bottom
$mb: 2rem;
$mb2: 1.3rem;

// Background color
$bg: red;
$bg2: beige;
$bg3: #19699e;

//Modal Width
$mw: 13rem; 
$mw2: 12rem;
$mw3: 14rem;

// Footer width
$fw: 48.5rem;
$fw2: 29rem;

// Footer margin
$fm: 0.2rem;

// dbzCharacters
$pad: 2rem;
$wid: 12.5rem;
$wid2: 15.5rem;
$ht: 22rem;
$ht2: 26rem;

//breakPoints
$bp-medium: 44.721rem;
$bp-large: 78.567rem;