@import '_mixins';

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
 @include bodyMix;
}

.hero-image {
  @include heroImageMix;

  h1 {
      font-size: 3rem;
      margin-bottom: 2rem;
  }

    .btn {
    @include btnMix;

    &:hover {
        color: white;
        background-color: red;
    }
  }
}

.dbzContainer {
    gap: 1.5rem;
    display: grid;
    grid-template-columns: repeat(5, 1fr);

    .dbzCharacters {
    @include dbzCharactersMix;

    &:hover {
      transform: scale(1.1);
      background-color: beige;
      box-shadow: 0 0 1rem rgba(0, 0, 0, 0.6);
    }
  }
}


footer {
@include footerMix;
}

.modal {
    width: 14rem;
  @include modalMix;
    
  &.modal h2 {
      margin-bottom: 1.3rem;
      text-decoration: underline;
  }

  &.modal p {
      margin: 0.6rem 0;
      font-size: 1.2rem;
  }

    &.modal button {
  @include modalButtonMix;
  
    &:hover {
      background-color: #19699e;
    }
  }
}

@media only screen and (max-width: 78.567rem) {
    .dbzContainer {
      grid-template-columns: repeat(2, 1fr);
    }
    .dbzCharacter {
      padding: 2rem;
      width: 15.5rem;
      height: 26rem;
    }
  .modal {
    width: 13rem;
  }
  footer {
    width: 48.5rem;
    margin-bottom: 0.2rem;
}
  }
  
  /* Andra breakpoint: Visa 2 bilder på varje rad */
  @media only screen and (max-width: 44.721rem) {
    .dbzContainer {
      grid-template-columns: repeat(1, 1fr);
    }
  
    .dbzCharacter {
      padding: 2rem;
      width: 12.5rem;
      height: 22rem;
    }
  
    .modal {
      width: 12rem;
    }
    footer {
        width: 29rem;
        margin-bottom: 0.2rem;
    }
  }

