@import '_mixins';
@import '_variables';

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
 @include bodyMix;
}

.hero-image {
  @include heroImageMix;

  h1 {
      font-size: $fsize;
      margin-bottom: $mb;
  }

    .btn {
    @include btnMix;

    &:hover {
        color: white;
        background-color: $bg;
    }
  }
}

.dbzContainer {
    gap: 1.5rem;
    display: grid;
    grid-template-columns: repeat(5, 1fr);

    .dbzCharacters {
    @include dbzCharactersMix;

    &:hover {
      transform: scale(1.1);
      background-color: $bg2;
      box-shadow: 0 0 1rem rgba(0, 0, 0, 0.6);
    }
  }
}

footer {
@include footerMix;
}

.modal {
    width: $mw3;
  @include modalMix;
    
  &.modal h2 {
      margin-bottom: 1.3rem;
      text-decoration: underline;
  }

  &.modal p {
      margin: 0.6rem 0;
      font-size: $fsize2;
  }

    &.modal button {
  @include modalButtonMix;
  
    &:hover {
      background-color: $bg3;
    }
  }
}

@media only screen and (max-width: 78.567rem) {
    .dbzContainer {
      grid-template-columns: repeat(2, 1fr);
    }
    .dbzCharacter {
      padding: $pad;
      width: $wid2;
      height: $ht2;
    }
  .modal {
    width: $mw;
  }
  footer {
    width: $fw;
    margin-bottom: $fm;
}
  }
  
  @media only screen and (max-width: 44.721rem) {
    .dbzContainer {
      grid-template-columns: repeat(1, 1fr);
    }
  
    .dbzCharacter {
      padding: $pad;
      width: $wid;
      height: $ht;
    }
  
    .modal {
      width: $mw2;
    }
    footer {
        width: $fw2;
        margin-bottom: $fm;
    }
  }

